
  
    <table width="100%" >
       
       
        
	

      <%  @employeeIddialogsummary.each do |data|  %>
    
        <tr >
        	
          
        <td><%= data.comments%></td>
               </tr>
     <%end%>


     
           
      </table>
    

